.clickable-item {
  margin:12px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #F5F5F7;
  border-radius: 15px;
  flex-direction: column;
  box-sizing: border-box;
}

.subtitle {
  flex-basis: auto;
  padding: 0;
  margin: 20px 12px 0;
}

.toggle-frame {
  padding: 0;
  margin-top: 36px;
}