:root {
  --color-default:   #000026;
  --color-white:   #fff;
  --color-red:   #c00;
  --color-border: #e8e8e8;
  --color-blue: #3f67fb;
}

/* *****************************************************************
全体
***************************************************************** */

html,
body {
  height: 100%;
  margin: 0;
  padding-bottom: 0;
  overflow-y: auto;
  color: var(--color-default);
  font-family: Meiryo, san-serif;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #5f5c80;
  border: 0 solid transparent;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: initial;
}

h1 {
  font-size: 20px;
  margin: 0px 0 0;
}
h1 svg {
  width: 34px;
  height: 34px;
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: middle;
}
h2 {
  font-size: 18px;
}
h2 + * {
  margin-top: 8px;
}
p {
  line-height: 1.4;
}

button {
  background-color: var(--color-blue);
  padding: 3px 15px;
  color: var(--color-white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  opacity: 0.5;
}
button:active {
  transform: scale(0.98);
}

/* レイアウト
--------------------------------- */

article {
  border-bottom: 1px solid var(--color-border);
  padding: 18px 17px;
}
article > *:not(:first-child) {
  margin-top: 12px;
}

.col {
  display: flex;
  justify-content: space-between;
}
.col > p {
  margin-top: 0;
}

/* *****************************************************************
記号
***************************************************************** */

#container {
  height: auto; 
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
	align-items: start;
  box-sizing: border-box;
  touch-action: pan-y;
}
  #container .draggable-item {
    width: 58px;
    margin-bottom: 21px;
  }

  #container .draggable-item.sub {
    display: none;
  }

  #container .draggable-item:not(:nth-of-type(4n)) {
    margin-right: 21px;
  }
  #container .draggable-item img {
    width: 100%;
  }

/* openclose
--------------------------------- */

.openclose {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 58px;
  height: 58px;
  margin-bottom: 21px;
}

.openclose .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  cursor: pointer;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 80%;
  flex-direction: column;
}
.openclose .item .icon {
  border: 2px solid var(--color-default);
  height: 27px;
  width: 27px;
  border-radius: 14px;
  position: relative;
  display: block;
}
.openclose .item .icon::before,
.openclose .item .icon::after {
  content: "";
  display: block;
  background-color: var(--color-default);
  border-radius: 2px;
  position: absolute;
  transition: all .3s;
}
.openclose .item .icon::before {
  width: 15px;
  height: 3px;
  top: 10px;
  left: 4px;
}
.openclose .item .icon::after {
  width: 3px;
  height: 15px;
  top: 4px;
  left: 10px;
}
.openclose .item .icon-text::after {
  content: "すべて表示";
  margin-top: 0.8em;
  display: block;
}
/*
#container.on .openclose {
  width: 100%;
  margin-bottom: 0;
}
*/
#container.on .openclose .item .icon::after {
  height: 0;
  top: 11px;
  
}
#container.on .openclose .item .icon-text::after {
  content: "隠す";
}

/* *****************************************************************
物の流れ線コネクトモード
***************************************************************** */

#toggle-frame input {
  height: 0;
  width: 0;
  background: #c00;
}

#mode-change-button {
  display: flex;
  width: 58px;
  height: 22px;
  border-radius: 13px;
  border: 2px solid var(--color-default);
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  margin: 10px 0 0;
}
#mode-change-button *,
#mode-change-button *::before,
#mode-change-button *::after {
  transition: all 0.3s;
}
#mode-change-button span {
  background-color: var(--color-default);
  width: 14px;
  height: 14px;
  border-radius: 9px;
  display: flex;
  position: relative;
  align-items: center;
  left: 2px
}

#mode-change-button span::before,
#mode-change-button span::after {
  display: flex;
  justify-content: center;
  width: 2.5em;
  height: 1em;
  position: absolute;
  font-weight: bold;
  color: var(--color-default);
  opacity: 1;
}
#mode-change-button span::before {
  content: "ON";
  left: -2.5em;
  opacity: 0;
}
#mode-change-button span::after {
  content: "OFF";
  right: -2.8em;
}

#mode-change-button.on {
  background-color: var(--color-blue);
}
#mode-change-button.on span {
  left: 38px;
  background-color: #fff;
}
#mode-change-button.on span::before  {
  opacity: 1;
  color: #fff;
}
#mode-change-button.on span::after  {
  opacity: 0;
  color: #fff;
}


/* *****************************************************************
工程記号の一括編集更
***************************************************************** */

.border {
  border: 1px solid var(--color-border);
  border-radius: 5px;
}
  .border > *:first-child{
    flex-basis: 8em;
  }
  .border > *:not(:first-child){
      border-left: 1px solid var(--color-border);
    flex-grow: 1;
    flex-basis: 5em;
  }
  .border .set {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 50px;
    padding: 0 1em;
    font-weight: bold;
  }
  .border .set-font {
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: bold;
  }
  .border .set:first-of-type {
    justify-content: center;
  }
  .border .set-font:first-of-type {
    justify-content: center;
  }
.border p {
  font-weight: bold;
}

.fraction-button{
  display: flex;
  justify-content: space-between;
}

.fraction-button > button {
  text-align: center;
  width: 34px;
  height: 34px;
}

.numerator {
  font-size: 10px;
  font-weight: bold;
  vertical-align: super;
  font-family: Arial, sans-serif;
  position: relative;
  bottom: 5px;
  right: 9px;
  z-index: 1;
}

.denominator {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  top: 3px;
  right: 9px;
  z-index: 2;
}


#size-change .value {
  width: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}
#size-change .arrow span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 6px 5px;
  height: 10px;
}
#size-change .arrow span::after {
  content: "";
  border-width: 6px;
  border-color: transparent;
  border-style: solid;
  display: block;
  width: 0;
  height: 0;
}
#size-change .arrow .up::after {
  border-bottom-color: var(--color-default);
  top: -6px;
  position: absolute;
}
#size-change .arrow .down::after {
  border-top-color: var(--color-default);
  top: 6px;
}

#size-change .arrow *:hover::after {
  opacity: 0.5;
}
#size-change .arrow .up:active::after {
  border-bottom-color: var(--color-blue);
  opacity: 1;
}
#size-change .arrow .down:active::after {
  border-top-color: var(--color-blue);
  opacity: 1;
}


/* *****************************************************************
工程記号のみ選択
***************************************************************** */

#select-only button {
  height: 100%;
  width: 80px;
}

/* mirotone icon */
.miro-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: 24px;
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-repeat: no-repeat;
}

.miro-icon-team {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 8a4 4 0 11-8 0 4 4 0 018 0zm5.5 6a3.5 3.5 0 100-7 3.5 3.5 0 000 7zm4.508 6.124a1 1 0 101.984-.248l-.171-1.372A4 4 0 0019.85 15h-4.04c.349.604.597 1.278.719 2h3.324a2 2 0 011.984 1.752l.172 1.372zm-7.994.04a1 1 0 001.973-.328l-.443-2.658A5 5 0 0010.612 13H5.389a5 5 0 00-4.932 4.178l-.443 2.658a1 1 0 101.973.328l.442-2.657A3 3 0 015.39 15h5.223a3 3 0 012.959 2.507l.443 2.657zM8 10a2 2 0 110-4 2 2 0 010 4zm8 .5a1.5 1.5 0 103 0 1.5 1.5 0 00-3 0z' fill='rgb(63,103,251)'/%3E%3C/svg%3E");
}

button .miro-icon{
  cursor:pointer;
}