.title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    padding: 24px 0 0 10px;
  }

  .textBox {
    height: 10%;
    width: 300px;
    font-size: 25px;
  }

  textarea {
    height: 50%;
    width: 300px;
    font-size: 20px;
    overflow: auto;
  }