html,
body {
    height: auto;
    width: 100%;
    overflow-y: auto;
}

header {
    height: 40px;
    width: auto;
    margin: 0 auto;
}

.content {
    height: Auto;
    width: auto;
    margin: 0 auto;
}