:root {
    --color-default: #000026;
    --color-white: #fff;
    --color-red: #c00;
    --color-border: #e8e8e8;
    --color-blue: #3f67fb;
}

html,
body {
    height: auto;
    width: 100%;
    overflow-y: auto;
}

header {
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 28px;
    text-align: center;
}

.content {
    height: Auto;
    width: 90%;
    margin: 0 auto;
}

.message {
    height: 40;
    width: auto;
    margin: 10px 0 0;
}

button {
    background-color: var(--color-blue);
    padding: 3px 15px;
    color: var(--color-white);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

button:active {
    transform: scale(0.98);
}

.copy_btn {
    height: 40px;
    width: 160px;
    margin: 10px 0;
}

.box1 {
    height: auto;
    width: auto;
    margin: 0 0;
    text-align: right;
}

.box2 {
    height: 200;
    width: auto;
    margin: 0 0;
    border: 1px solid rgb(171, 171, 171);
    word-break: break-all;
    padding: 0 6px;
    
}

p{
    margin: 0 0 5px;
    font-size: 10px;
}

.text1{
    font-size: 16px!important;
    font-weight: bold;
}