html,
body {
    height: auto;
    width: auto;
    margin: 2%;
    overflow-y: auto;
}

.topNavigation {
    height: 50px;
    text-align: center;
    background-color: #3f67fb;
    color: #fff;
    line-height: 50px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--indigo600);
    border: 0 solid transparent;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: initial;
}

.content {
    display: flex;
    height: 400px;
    width: 100%;
    margin-top: 10px;
}

.imgarea {
    text-align: center;
    height: 400px;
    width: 850px;
    margin-left: 6px;
}

img {
    width: auto;
    height: 350px;
    margin: 0 auto;
}

p {
    width: 100px;
    margin: 0;
}