html,
body {
    height: 320px;
    width: 100%;
    overflow-y: auto;
}

.content {
    height: 250px;
    width: 100%;
    margin-top: 10px;
}

.imgarea {
    text-align: center;
    height: 250px;
    width: 100%;
    font-size: 12px;
}

.qrcomment{
    text-align: center;
    height: 50px;
    width: 100%;
}

/*画像データ*/
img {
    width: auto;
    height: 250px;
    margin: 0 auto;
}

/*改行*/
span{
    display: block;
  }